.container {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background:red;
}
  
.header {
  height:100%;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
  background:#222222;
  //border-bottom: 2px solid #5555ff
}

.header__icon {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  flex: 0 0 auto;
  border-radius: 50%;
  padding: 14px;
  &:hover {
    background: rgba(77, 77, 77, 0.6);
  }
}

.sign{
  margin: 0 0 0 auto;
  padding-right:20px;
}